<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
<h1>Pokémon List</h1>
<ul>
    <% pokemons.forEach(pokemon => { %>
        <li>
            <strong><%= pokemon.name %></strong> - Type: 
            <%= pokemon.types ? pokemon.types.join(', ') : 'None' %>
            <a href="/pokemon/edit/<%= pokemon.id %>">
                <button>Update</button>
            </a>
            <form action="/pokemon/delete/<%= pokemon.id %>" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }); %>
</ul>

<%- include('partials/addPokemon') %>
</body>
</html>